/* styles.css */

/* Estilos globais */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
}

.App h1 {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}

.highlight {
  color: red;
}

/* Outros estilos globais */
