/* Estilos adicionais para a tela de login e registro */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-container, .register-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 10px 0;
}

.login-container h2, .register-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    position: relative;
    margin: 10px 0;
}

.input-group i {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
}

.input-group input {
    width: 100%;
    padding: 15px 15px 15px 40px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container button, .register-container button {
    width: 100%;
    padding: 15px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-container button:hover, .register-container button:hover {
    background-color: #0056b3;
}

.message {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
}

p {
    margin-top: 20px;
    text-align: center;
}

p a {
    color: #007BFF;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}

.App h1 {
    text-align: center;
    margin-top: 20px;
    color: #fff;
  }

  .highlight {
    color: red;
  }
  
  .login-container h2, .register-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  